<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Parser</title>
    <!-- Bootstrap -->
    <!-- build:css styles/main.css -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet"> </head>

<body>
    <nav class="navbar  navbar-fixed-top" style="background-color:#3F729B; color:floralwhite;" role="navigation">
        <div class="container">
            <div class="col-xs-8 ">
                <div class="navbar-header" align="center">
                    <h1>Parser <span class="badge" >BLR FSI</span></h1> </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{active:isSelected(1)}"> <a role="tab" ng-click="select(1)"> HL7 Parser</a> </li>
                    <li role="presentation" ng-class="{active:isSelected(2)}"> <a role="tab" ng-click="select(2)">Image Upload Parser</a> </li>
                </ul>
                <ul class="media-list">
                    <div class="tab-content">
                        <li class="media">
                            <div class="media-body">
                                <div class="col-md-3 col-xs-12"> Enter Segment:
                                    <div style="padding:2px"></div>
                                    <input id="Segment" type="text" name="Segment" placeholder="In All Capitals"> </div>
                                <div class="col-md-2 col-xs-12 "> Enter Offset:
                                    <div style="padding:2px"></div>
                                    <input id="offset" type="number" name="offset" placeholder="Single Digit"> </div>
                                <div class="row row-content">
                                    <div style="padding:6px"></div>
                                    <div class="col-md-5 col-xs-12 "> Enter HL7 Messages here:
                                        <div style="padding:4px"></div>
                                        <textarea id="hl7" rows="20" cols="60" placeholder="Enter Hl7 Message"> </textarea>
                                        <div style="padding:4px"></div>
                                        <button id="btn" class="btn-success btn-lg btn-block">Parse</button>
                                        <ol id="para"></ol>
                                    </div>
                                    <div class="col-md-5 col-xs-12 " id ="para">
                                       
                                      
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <footer class="row-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h4 align="center">© Karan Jariwala and Akash Verma </h4> </div>
            </div>
        </div>
    </footer>
</body>
<!-- build:js scripts/main.js -->
<!--    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    btn.onclick = function () {
        var arr = "";
        var segment = document.getElementById('Segment');
        var offset = document.getElementById('offset');
        var Hl7 = document.getElementById('hl7');
        var btn = document.getElementById('btn')
        console.log(offset.value);
        var offsetNumber = Number(offset.value);
        // Create a <li> node
        //
        // console.log(segment.value,offset.value,hl7.value);
        //            Hl7= Hl7.value.replace(/[^a-zA-Z0-9]/g, '|');
        console.log(Hl7.value = Hl7.value.replace(/[^a-zA-Z|.0-9\^~\\&/-_@!#$%*()+= ]/g, ""));
        var Hl7_arr = Hl7.value.split("|");
        var p;
        var indices = [];
        var array = Hl7_arr;
        var element = segment.value;
        var idx = array.indexOf(element);
        while (idx != -1) {
            indices.push(idx);
            idx = array.indexOf(element, idx + 1);
        }
        indices = indices.map(function (x) {
            return x + Number(offset.value)
        });
       var table = document.getElementById("para");
        var x1='';
        console.log(indices);
       
        
        indices.map(function (x) {
                console.log(Hl7_arr[x]);
                
                //                var row = table.insertRow(0);
                //                var cell1 = row.insertCell(Number(currentValue));
              x1 += '<tr><td>' + Hl7_arr[x] + '</td></tr>';
            
                // Create a text node
                //                    node.appendChild(textnode); // Append the text to <li>
                //                    document.getElementById("para").appendChild(node1);
                //                    document.getElementById("para").appendChild(node2);
            
            })
            // [0, 2, 4]
        console.log(x1)
     var x2= '<table>'+x1+'</table>';
     var para = document.createElement("TABLE");
//    var t = document.createTextNode(x2);
    para.innerHTML=x2;
    document.getElementById("para").appendChild(para);
        
    }
</script>
<!-- endbuild -->

</html>